*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

h1{
    color: rgba(229,49,112,255);
    padding-top: 30px;
}

p{
    font-family: 'Fredoka', sans-serif;
    padding-top: 40px;
    padding-bottom: 20px;
}
/* FINE HEADER */
/* LAYOUT MAIN */
.container{
    width: 75%;
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
    margin: 30px 15px;
    width: calc(100% / 3 - 30px);
    background-color:rgba(15,14,23,255);
    box-shadow: 2px 3px 10px;
    
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 6rem;
    height: 6rem;
    float: left;
    margin-right: 15px;
}

h2{
    font-family: 'Fredoka', sans-serif;
    color: white;
    width: 75%;
    font-size: 17px;
    padding: 5px;
}

.row p:first-of-type{
    color: white;
    padding: 4px;
}

.row p:last-of-type{
    color: rgba(67,147,198,255);
    padding: 1px;
}
/* FINE LAYOUT MAIN */


